<%- include('../layout/adminHeader')  %>
<h1>All Pages</h1>
<a href="/admin/pages/add-page" class="btn btn-success">Add a new page</a>
<br><br>

 <table class="table table-bordered sorting">
    <thead>
     <tr class="home">
        <th>Title</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
        <% pages.forEach((page) => { %>
        <tr id="<%= page._id %>" class="<%= page.slug %>">
            <td>
                <%= page.title %>
            </td>
            <td>
                <a href="/admin/pages/edit-page/<%= page.slug %>">Edit</a>
            </td>
            <% if (page.slug == "home") { %>
                <td></td>
            <% } else { %>
            <td>
                <a class="confirmDeletion" href="/admin/pages/delete-page/<%= page._id %>">Delete</a>
            </td>
            <% } %>
          
        </tr>
        <% }); %>
    </tbody>
 </table>


<%- include('../layout/adminFooter')  %>
<script src="../../assets/dist/js/jquery-ui.js"></script>
<script>
    $('tbody').sortable({
        items: "tr:not('home')",
        placeholder: "ui-state-highlight",
        update: () => {
            const ids = $('tbody').sortable("serialize");
            const url = "/admin/pages/reorder-page";

            $.post(url, ids);
        }

    })

</script>