<% include ./layout/header %>

<div class="col-xs-12 col-md-6">
    <div class="row">
          
           
                <div class="col-xs-12 col-md-5 pb-5">
                    <h1>
                        <%= p.title %>
                    </h1>
                    <a href="/products/<%= p.category%>/<%= p.slug%>" class="hre">
                       <img src="/product_images/<%= p.id%>/<%= p.image%>" width="200px" height="220px" alt="" srcset="">
                    </a> 
                    
                </div>

                <div class="col-xs-12 col-md-7">
                    <h3>
                        <%= p.title %>
                    </h3>
                    <h6>
                        <%= p.desc %>
                    </h6>
                    <h6><strong><%= parseFloat(p.price).toFixed(2) %></strong></h6>
                    <a href="/cart/add/<%= p.slug %>" class="hrr">View more</a>
                </div>
                
                <div class="col-xs-12">
                    <p>More</p>
                    <div class="gallery">
                        <% galleryImages.forEach(function(image) { %>

                        <% if(image !== "thumbs"){%>
                           <a href="/product_images/<%= p._id %>/gallery/<%= image %>" data-fancyBox="gallery">
                              <img src="/product_images/<%= p.id %>/gallery/thumbs/<%= image %>" alt="" srcset="">
                        </a>
                        <% } %>
                    <% }); %>
                    </div>
                </div>

    </div>
</div>
<div class="col-xs-12 col-md-3"></div>

<% include ./layout/footer %>